/*transition group tera efeito de slide*/
.lista-enter-from, .lista-leave-to {
    opacity: 0;
    transform: translateX(-150px);
}

.lista-enter-to, .lista-leave-from {
    opacity: 1;
    transform: translateX(0px);
}

.lista-enter-active {
    transition: all 0.25s;
}

.lista-leave-active {
    position: absolute;
    transition: all 0.25s;    
}

.lista-move {
    transition: 1s;
}

/* transition-group para o filtro de ordenacao*/

.ordenacao-move {
    transition: all 1s;
}