.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: 0.5s;
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}

.slide-enter-from {
    opacity: 0;
    transform: translateX(-150px)
}

.slide-enter-active,
.slide-leave-active {
    transition: 0.5s;
}

.slide-enter-to,
.slide-leave-from {
    transform: translateX(0px);
    opacity: 1;
}

.slide-leave-to {
    opacity: 0;
    transform: translateX(150px)
}

.zoom-enter-from,
.zoom-leave-to {
    transform: scale(0);
}

.zoom-enter-active,
.zoom-leave-active {
    transition: transform 0.5s;
}

.zoom-enter-to,
.zoom-leave-from {
    transform: scale(1);
}

.pulo-enter-from {
    animation: pulo 1s;
    opacity: 0;
}

.pulo-enter-active {
    animation: pulo 1s;
    transition: 0.5s;
}

.pulo-enter-to {
    animation: pulo 1s;
    opacity: 1;
}

.pulo-leave-from {
    opacity: 1;
}

.pulo-leave-active {
    transition: opacity 0.5s;
}

.pulo-leave-to {
    opacity: 0;
}

@keyframes pulo {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-30px);
    }
    50% {
        transform: scale(1.05, .95) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-8px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}